main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: $hero__line-height;
    

    .header {
        font-family: $primary__font-family;
        font-size: $hero__header-size;
        font-weight: $font__weight-bold;
        color: $font__black-high;
        filter: $shadow;    
    }

    .subheader {
        font-family: $secondary__font-family;
        font-size: $hero__subheader-size;
        font-weight: $font__weight-regular;
        color: $font__black-medium;
    }

    
    img {
        margin: 3em;
        filter: $shadow;
         @media (max-width: $breakpoint__mobile) {
            display: none;
        }
    }

    a {
        margin-top: 2em;
        size: $hero__anchor-size;
    }

   
}


